doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title}
  body
    include ../header
    | {block body}
    | {/block}
    | {include footer.html}
    - for (var a = forstart; a < forend; a++)
      = a
      include ../header
      - for (var b = 20; b < 104; b++)
        = b

